* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(12,16,20);
    display: flex;
    flex-direction: column;
    color: #ffffff;
    position: relative;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 80px;
    justify-content: space-between;
    margin: 0;
    padding: 0 80px;
}


.logo-image {
    margin-top: 44px;
    margin-left: 44px;
    width: 75px;
}

.cf-image {
    width: 450px;
    margin-top: 40px;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1.7;
    padding-top: 20px;
    align-items: center;
}

.left h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
}

.right {
    background-color: rgb(29, 42, 39);
    font-family: sans-serif;
    padding: 40px 40px;
    flex: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#log-in-inst{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 560;
    margin-bottom: 20px;
    margin-right: auto;
}


.right input {
    padding: 18px;
    border-radius: 10px;
    border: 0.1px solid rgb(204, 230, 245);
    background-color: rgb(29, 42, 39);
    width: 100%;
    margin: 8px;
    font-size: 15px;
}

.right input::placeholder{
    color: rgb(204, 230, 245);
}
.log-in {
    color: white;
    background-color:rgb(37, 69, 106);
    padding: 12px;
    border: none;
    border-radius: 50px;
    transition: background-color 0.2s ease;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    align-self: center;
    margin: 6px;
    margin-top: 15px;
}


.log-in:hover {
    background-color: rgb(35, 134, 226);
}

.forgot-pass {
    color:rgb(204, 230, 245);
    background-color: rgb(29, 42, 39);
    padding: 12px;
    margin: 5px;
    width: 100%;
    border: none;
}

.with-fb {
    color:rgb(204, 230, 245);
    border: 0.1px solid rgb(204, 230, 245);
    border-radius: 50px;
    background-color: rgb(29, 42, 39);
    padding: 12px;
    width: 100%;
    margin: 6px;
}

.create {
    color:rgb(204, 230, 245);
    border: 0.1px solid rgb(35, 134, 226);
    border-radius: 50px;
    background-color: rgb(29, 42, 39);
    padding: 12px;
    width: 100%;
    margin: 6px;
}

#meta {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.6;
}

.footer {
    border-top: 1px solid lightgray;
    padding: 20px;
    text-decoration: none;
    color: gray;
    font-size: 14px;
    text-align: center;
}
.footer a{
    color: gray;
    text-decoration: none;
    margin: 8px;
    font-size: 14px;
}

.footer a:hover {
    text-decoration: underline;
}
.footer-links {
    margin: 10px;
}